.section5{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}
.background-section5{
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #7A4A0C;
}
.isi-section5{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 150px;
  right: 100px;
  left: 100px;
  font-family: DM Serif Display, serif;
  line-height: 30px;
}
.judul-teks5{
  font-size: 20px;
  font-weight: bold;
  color: #020202;
  padding-top: 10px;
  padding-bottom: 10px;
}
.teks1-section5{
  color: #dbdada;
  font-size: 14px;
}
.kolom-teks1-section5{
  max-width: 500px;
}
.kolom-sosmed{
  position: absolute;
  display: flex;
  column-gap: 40px;
  height: 40px;
  bottom: 20px;
  padding-top: 20px;
  right: 100px;
  left: 100px;
  z-index: 4;
  border-top-color: rgb(143, 143, 143);
  border-top-width: 1px;
  border-top-style: inset;
  justify-content: center;
}
.a-sosmed5{
  width: 34px;
  height: 34px;
}
.sosmed-logo5{
  width: 34px;
  height: 34px;
  object-fit: contain;
  cursor: pointer;
}
@media (max-width: 900px){
  .background-section5{
    top: 25px;
  }
  .isi-section5{
    left: 20px;
    right: 20px;
    top: 50px;
    line-height: 25px;
    text-align: justify;
  }
  .kolom-sosmed{
    column-gap: 15px;
    right: 20px;
    left: 20px;
  }
  .judul-teks5{
    font-size: 14px;
  }
  .teks1-section5{
    font-size: 10px;
    max-width: 160px;
  }
}